
/* middle navbar */

.st__midbar__container {

    
    padding: 1rem;
    margin-top: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;
    left: 1rem;

}

.st__midbar__top {
    display: flex;
    align-items: center;    

    height: 7rem;
    width: 525px;
    margin: 0 auto;
    margin-bottom: 1.8rem;

}


.st__midbar__react__dropzone {
    width: 7rem;
    height: 7rem;
    
    display: block; 
    float: left;
}
.dropzone__overlay {
    width: 7rem;
    height: 7rem;
    
    display: block; 
    float: left;
    
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.55);
    position: absolute;
}

.dropzone__plus {
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    bottom: 4.4rem;
    left: 3.2rem;
}

.st__midbar__profile_picture {
    
    border-radius: 50%;
    /*float: left;*/
    width: 7rem;
    height: 7rem;
}


/* right of profile picture */

.st__midbar__top__right {
    width: 240px;
    height: 100px;
    margin-top: 0.7rem;
    margin-left: 1.8rem;

    
}

.st__midbar__top__top {
    /*display: flex; 
    align-items: center;
    justify-content: center;*/

    width: 30rem;
    height: 3.2rem;
}

.st__midbar__website {
    color: none;
    font-size: 1.3rem;
    margin-left: 1.3rem;
    position: relative;
    top: 0.3rem;
}


.st__midbar__website__form {
    margin-left: 1.5rem;
}

.st__midbar__website__container {
    position: relative;
    top: 2px;
    left: 1px; 
    width: 18rem;
    height: 1.7rem;
    /*color: cyan;*/
    color: black;
	
	font-weight: 100;
    font-size: 1.3rem;
    text-decoration: none;

}

.st__midbar__website__link {

    float: left;
    display: block;
    width: 18rem;
    height: 1.7rem;
    /*color: cyan;*/
    color: black;
	
	font-weight: 100;
    font-size: 1.3rem;
    text-decoration: none;
}


.st__midbar__edit__button {
    height: 2rem;
    width: 5rem;

    position: relative;
    bottom: 1rem;
    right: 2rem;
    border: 1px solid darkgrey;
	
	font-weight: 100;
    font-size: 1rem;
    background-color: white; 
    float: right;
    cursor: pointer;
    outline: none;
}

.st__midbar__edit__button:hover {
    border: 1px solid black;
}

.st__midbar__edit__button__text {
    font-size: 1rem;
    /*position: relative;
    top: 1px;*/
}
 
.st__midbar__edit__button--na {
    position: relative;
    left: 9rem;
    bottom: 1.4rem;
    
    height: 1.95rem;
    width: 5rem;
    border: 0;
    font-size: 1rem;
    background-color: white; 
    float: right;


}

.st__midbar__profile_username__container {
    position: relative;
    bottom: 0.5rem;
    right: 0.2rem;
    width: 600px;
    margin-bottom: 2rem;
    position: relative;

}

.st__midbar__profile_username {
    font-size: 2.8rem;
    width: 600px;
    margin: 0 auto;

    color: #242526;
	
	font-weight: 100;


}




.st__midbar__bottom {
    /*position: relative;
    left: 4.1rem;*/

    display: flex;
    align-items: center;
    justify-content: center;

}

.st__midbar__social_icons__container {
    /*position: relative;*/
    /*right: 0.6rem;
    bottom: 0.5rem;*/

    /*float: left;*/
    height: 6rem;
}

.st__midbar__social_icons {
    width: 2rem;
    height: 2rem;
    
    margin-right: 0.8rem;
    float: left;
}

.st__midbar__summary { 
    width: 400px;

    margin-left: 1rem;
}

.st__midbar__summary_li {
    margin-bottom: 0.5rem;
    float: left;
}

.st__summary__outer__container {
  margin-left: 1.1rem;
  margin-bottom: 2rem;
}


.st__summary__text {
  position: relative;
  bottom: 0.3rem;
  right: 0.2rem;
  margin-bottom: 0.45rem;
  width: 100%; 
  font-size: 1rem; 

}

.st__summary__text__ul {
  list-style-type: katakana-iroha;
  margin-bottom: 0.9rem;
  width: 100%; 

}

.st__summary__text__li {
  margin-bottom: 0.9rem;
  width: 100%; 

    font-size: 1rem; 
    color: #242526;
    
    font-weight: 100;

}




.st__dropzone__plus {
    position: relative;
    bottom: 4.15rem;
    left: 3.2rem;
    color: darkgrey;
    font-size: 1.5rem;
}



@media screen and (max-width: 900px){
    
    .st__midbar__container {
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 0;
        position: relative;
        left: 0;
    }

    .st__midbar__top__top {
        margin-top: 1rem;
        width: 15rem;
    }
    
    .st__midbar__top {
        display: block;
        height: 15rem;
        width: 100%;
        margin: 0;
    }

    .st__midbar__profile_picture {
        display: block;
        margin: 0 auto;
    }

    .st__midbar__top__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .st__midbar__website {
        width: 20rem;
    }

    .st__midbar__profile_username {
        width: 300px;
        font-size: 2rem;
    }
    
/*

        Bottombar 
                        */

    .st__midbar__bottom {
        flex-direction: column;
        position: static;
    }

    .st__midbar__social_icons__container {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        width: 12rem;
        height: 4rem;

    }

    .st__summary__outer__container {
        margin: 0 auto;
        margin-top: 2rem;
        width: 25rem;
        padding-left: 3rem;
    }

    .st__midbar__summary {
        height: 6rem;
        float: left; 
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .st__midbar__profile_username {
        font-size: 2.8rem;
    }

    .st__summary__text__ul {
        display: flex;
    }

    .st__summary__text__li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .st__summary__outer__container {
        padding-top: 0.5rem;
        padding-left: 0;

    }

}
