<!DOCTYPE html>
<html lang="en">
<head>

    <include('./utility_partials/utility_head.marko')/>

    <title>Learning Schedule | 500</title>

</head>
<body>
    <div class="four__container">
        <h1 class="four__title">
            500 
        </h1>
        <h2 class="four__secondary">
            <!--I'm sorry there bud, however this page/user doesn't exist. Thankfully, we have a homepage for you to take refuge in. > > > > > -->
            Let's get you back on track <br> 
            <a class="four__link" href="http://learningschedule.com/">
                https://learningschedule.com/
            </a>

        </h2>
    </div>
</body>
</html>