








.si__elements__container {
	margin: 0 auto;
	margin-top: 11rem;
	width: 900px;
}

.navbar__edit_schedule {
	float: left;
	margin-left: 4rem;

}

.navbar__edit_schedule--na {
	float: left;
	margin-left: 4rem;
}



