

.si__individual__container {
	display: flex;
	flex-direction: column;
	width: 700px;
	margin: 0 auto;
	margin-top: 8rem;
	margin-bottom: 3.5rem;
}

/*
	  SI TITLE REMOVE BUTTON
								*/


.si__title__remove__schedule {
	position: relative;
	top: 0.5rem;

    font-size: 1.2rem;
    background: white;
    border: 1px solid darkgrey; 
    border-radius: 1px;

    width: 10rem;
    height: 2rem;
	font-size: 0.9rem;
}

.si__title__remove__schedule:hover {
    border: 1px solid black; 
}

.si__title__remove__schedule__text {
	font-size: 0.85rem;
}


.si__title__remove__schedule--na {
	position: relative;
	top: 1.2rem;	
	float: right;   
    display: block;
}

.si__title__remove__schedule__x {
	font-size: 0.95;
	position: relative; 
	top: 1px;
}

.sm__title__remove__margin {
	margin-bottom: 0;
}



/*
	   SCHEDULE URL 
								*/



.si__schedule__url {
	margin-top: 0.4rem;
	margin-bottom: 2rem;
	margin-left: 0.2rem;
	margin-left: 5rem;

}

.si__schedule__url__pre {
	position: relative;
	top: 0.15rem;
	width: 40px;
	font-size: 1rem;
	font-weight: 300;
	float: left;
}

.si__title__schedule_url {
	float: left;
	display: block;
	font-size: 1rem;
	width: 80%;
	outline: none;
	resize: none;
	border: 0;
	border-bottom: 1px solid white;

	
	font-weight: 300;
}

.si__url__length {
	display: none;
}

.si__title__schedule_url:focus ~ .si__url__length {
	display: block;
}

.si__title__input__resize {
	width: 90%;
	margin: 0;
}

/*
		SCHEDULE SUMMARY FIELD
								  */




.clear {
	clear: both;
}

#si__title__border__none {
	color: black;	
	text-decoration: none;
}

#si__title__display__none {
	display: none;
}

#si__title__border__none:hover {
	/*border-bottom: 1px solid white;*/
}


.sm__title__schedule__summary__resize {
	margin-left: 5rem;
}



@media screen and (max-width: 900px){

    .si__individual__container {
		margin-left: 2.5rem;
		width: 85%;
	}

	.sm__title__schedule__summary__resize {
		height: 6rem;
        margin-left: 3.5rem;
	}

	.si__schedule__url {
        margin-left: 3.5rem;
		margin-bottom: 1rem;
		max-width: 600px;
    }

	.si__title__input__resize {
		height: 5rem;
		margin-bottom: 1rem;
	}

}

@media screen and (max-width: 700px){

    .si__individual__container {
		margin-left: 1rem;
	}
	
    .si__schedule__url {
        margin-left: 2rem;
    }

	.sm__title__schedule__summary__resize {
        margin-left: 2rem;
	}


	.si__title__schedule_url {
		width: 85%;
	}

	.si__title__remove__schedule {
		width: 2rem;
	}

	.si__title__remove__schedule__text {
		display: none;
	}

	.sm__title__top_layer__updates__container__resize {
		width: 2rem;
	}

}


@media screen and (max-width: 600px){
    .si__schedule__url {
    	margin-left: 0rem;
    }

	.sm__title__schedule__summary__resize {
        margin-left: 0rem;
	}

}