<div class="feature__box__n__feature">

    <div class="feature__box feature__box4"></div>

    <!-- Beginning of sample - feature four -->
        <div class="feature__four__container">
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo">Sep 12 - 🎉🎉 Finished reading C# Advanced techniques! 🎉🎉 </span>
            </p>
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo">Aug 23 - 🎉🎉 Ate a delicious gulten free pizza! 🎉🎉 </span>
            </p>
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo">Jun 01 - 🎉🎉 Finished watching CS106A Lectures! 🎉🎉 </span>
            </p>
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo"> May 13 - 🎉🎉 Started reading C# Advanced techniques! 🎉🎉 </span>
            </p>
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo">Mar 02 - 🎉🎉 Started reading Ancient Midori Secrets! 🎉🎉 </span>
            </p>
            <p class="sm__update__text">
                <span class="sm__update__milestone__yolo">Mar 02 - 🎉🎉 Celebrated my Birthday... Learning! 🎉🎉 </span>
            </p>

        </div>

</div> <!-- end of feature box n' feature--> 