<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/static/about.css">

    <title>About | Learning Schedule</title>
</head>
<body>
    <div class="about__container">
        <h1 class="about__heading">
            About Learning Schedule
                <div class="header__color__container">
                    <div class="header__color header__color1"></div>
                    <div class="header__color header__color2"></div>
                    <div class="header__color header__color3"></div>
                    <div class="header__color header__color4"></div>
                    <div class="header__color header__color5"></div>
                </div>
        </h1>
        
        <div class="about__main__container">


            <h2 class="about__main__heading">What Is Learning Schedule?</h2>
            
        


            <div class="about__main__paragraph__container">
                <p>
                    Learning Schedule is an online profile.
                </p>

                <p>It is an online profile that has been designed to allow you to easily track and showcase your learning.</p>

                <p>It has been designed to be aesthetic, fast and functional.</p>

            </div>



            <h2 class="about__main__heading">Why did I create Learning Schedule?</h2>
            
            <div class="about__main__paragraph__container">
                
                <p>I wanted to create a platform for self-learners to showcase their learning, knowledge and passion.</p>
                    
                <p>The reason is quite simple.</p>

                <p>It bothers me that employers will favour someone with a university degree, over someone who is passionate and rediculously knowledgable beyond most, yet did not have the privilege to study at University.</p>

                <p>It's utter bullshit.</p>

                <p>I aim to dissolve the stigma attached to self-learning, or rather, this idea of institutionalised education is necessarily the best path to becoming a working professional.</p>

                <p>I do not believe that you need to find yourself $40,000+ into debt, in order to study and be the best at your craft. </p>
                
                <p>That is why I created Learning Schedule.</p>
                
            </div>

            <h2 class="about__main__heading">How does it work?</h2>
            
            <div class="about__main__paragraph__container">

                <p>Here's the basic gist of it.</p>

                <p>The idea is that your Learning Schedule profile appears in Google Search whenever someone searches for your name.</p>

                <p>They see what you've learnt. They like what they see.</p>

                <p>I think that's pretty cool.</p>

                <p>In addition, it keeps you passionate with your self-learning, you pimp out your profile and showcase all your amazing learning achievements.</p> 
                    
            </div>


            <h2 class="about__main__heading">How was it built?</h2>
            
            <div class="about__main__paragraph__container">

                <p>
                    This application was with utilising React/Redux on the front-end and Node.js on the backend. 
                </p>

                <p>
                    Rather than rely on static pages, all profiles are actually single page applications - meaning it's super zippy and seamlessly fluid.  
                </p>

                <p>
                    Functionality and features are constantly being added. 
                </p>
            </div>

            <div class="about__footer"></div>


        </div>

    </div>
</body>
</html>