<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Julius Reade">
    <meta name="description" content="">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/homepage.css">
		<link rel="stylesheet" tpe="text/css" href="/static/feature_one.css">
		<link rel="stylesheet" type="text/css" href="/static/feature_two.css">
		<link rel="stylesheet" type="text/css" href="/static/feature_three.css">

		<title>Learning Schedule | Your Online Learning Timeline</title>
</head>

<body>

		<div class="container-fluid navbar__container">
				<!--<a class="navbar-brand">Learning Schedule</a>-->
			<ul class="nav navbar-nav navbar-right">
					<li class="navbar-links"><a href="/signup" title="News">Login</a></li>
					<li class="navbar-links"><a href="/news" title="News">News</a></li>
					<li class="navbar-links navbar-links-right"><a href="/about" title="About">About</a></li>


				<!--<li><a href="/login" title="Login">Login</a></li>
				<li><a href="/register" title="Sign Up">Sign Up</a></li>-->
			</ul>

		</div>

<!--
		<div class="navbar__buttons">
			<button class="navbar__signup" type="submit" action="">Sign Up</button>
			<button class="navbar__login" type="submit" action="">Login</button>
		</div> -->

	<!-- /header -->


	<div class="container-fluid header__main">

			<h1 class="header__title">Learning Schedule			
			<div class="header__color__container">
				<div class="header__color header__color1"></div>
				<div class="header__color header__color2"></div>
				<div class="header__color header__color3"></div>
				<div class="header__color header__color4"></div>
				<div class="header__color header__color5"></div>
			</div>
</h1>
					<!--<div class="timeline"></div>
					<div class="timeline-event__one"></div>
					<div class="timeline-event__two">

					</div>-->

			<h2 class="header__title_secondary">Your Online Learning Timeline.</h2>
			<!--<div class="header__buttons">
				<button class="header__login">Login</button>
				<button class="header__login">Sign Up</button>
			</div>-->


			<h3 class="header__title_third">
				Let the whole world know how hard you've worked.
				<!--Because you worked hard for it. -->
				<!-- You worked hard. So capitalise on it.-->
				<!--You worked so hard. Let the whole world know.-->
				<!--Don't lose what you worked so hard on.-->
				<!--You worked hard. So capitalise on it.-->
				<!-- Work harder. No, I'm telling you. -->
				<!-- Work harder. No, I'm telling you. -->
				<!-- You worked hard. Now work harder. -->
				<!-- Because the world needs to know you worked hard. -->
			</h3>

			<form class="header__form" action="auth/login" method="post" accept-charset="utf-8">
				

				<div class="header__form-group">
					<!--<label for="username">Email:</label>-->
					<input class="form-control header__form-input" type="text" name="username" value="" placeholder="Email">
				</div>

				<div class="header__form-group">
					<!--<label for="password">Password:</label>-->
					<input class="form-control header__form-input" type="password" name="password" value="" placeholder="Password">
				</div>

				<div class="header__form-auth">
					<button class="btn btn-default register__form_submit" type="submit"><span class="header__form_line_height">Sign up</span></button>
				</div>


				<!--<div class="header__form-auth">
					<button class="btn btn-default signup__form__submit" type="submit" action="">Login</button>
				</div>-->


			</form>

	</div>



	<main class="main__container">


		<!-- FEATURE ONE  -->

		<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<!--<h4 class="feature__pre_intro">
						Intro 
					</h4>-->

					<div class="feature__intro">
						<!--Learning Schedule is your online learning profile. -->
						Learning Schedule is an online profile for self-learners.
					</div>
		



<!-- Beginning of sample - feature One -->

			<div class="container-fluid">
                
                <div class="row st__midbar__container">
                    <div class="st__midbar__top">
                        
						<img class="st__midbar__profile_picture" src="/static/images/avatar.png" alt=""/>

                        <div class="st__midbar__top__right">

                            <div class="st__midbar__top__top">
                                

								<a class="st__midbar__website__link" href="https://juliusreade.com/">
									<h3 class="st__midbar__website">
										https://juliusreade.com/
									</h3>
								</a> 

                            </div>

      					     <h2 class="st__midbar__profile_username">Julius Reade</h2>
                        </div>
                    </div>


                    <div class="st__midbar__bottom">
                        <div class="st__midbar__social_icons__container">

                            <a href="https://facebook.com/juliusreade"><img class="st__midbar__social_icons" src="static/images/social-icons/facebook.png" alt=""/></a>
                            <a href="https://twitter.com/juliusreade"><img class="st__midbar__social_icons" src="static/images/social-icons/twitter.png" alt=""/></a>
                            <a href="https://github.com/dottjt"><img class="st__midbar__social_icons" src="static/images/social-icons/github.png" alt=""/></a>
                        
                        </div>

                        <div class="st__midbar__summary">
                        
							<div class="st__summary__outer__container">
								<ul >
									<li class="st__summary__text">
										Delirious code monkey with an amazing face.
									</li>
								</ul>
								<ul >

									<li class="st__summary__text">
										Aspiring developer of approximately two years
									</li>
								</ul>
								<ul>
									<li class="st__summary__text">
										Javascript, Node n' Co
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>

                <div class="row st__bottombar__container">

                    <div class="header__color__container">
                        <div class="header__color header__color1"></div>
                        <div class="header__color header__color2"></div>
                        <div class="header__color header__color3"></div>
                        <div class="header__color header__color4"></div>
                        <div class="header__color header__color5"></div>
                    </div>

                    <div class="st__bottombar__links__container">
                        <span class="st__bottombar__link"><a class="st__bottombar__link--a" to={"/" + user.get('username')}>Schedules (9)</a></span>
                        <span class="st__bottombar__link"><a class="st__bottombar__link--a" to={"/" + user.get('username') + "/updates"}>Updates (48)</a></span>
                        <span class="st__bottombar__link"><a class="st__bottombar__link--a" to={"/" + user.get('username') + "/tags"}>Tags (108)</a></span>
                    </div>
                </div>

			</div>

<!---->






					<!--<img class="feature_image_1" src="/static/images/image_1.png" />-->
				</div>
			<div>
		</section>




		<!-- FEATURE TWO -->
		<section class="feature__container">
			<div class="container">
				<div class="row">
					<!--<h4 class="feature__pre_intro">
						Body 
					</h4>-->

					<h2 class="feature__title">
						The ultimate way to track your learning progress.
						<!--It's the ultimate way to track your learning progress.-->
						<!--It allows you to conveniently track your learning.-->
					</h2>
					<div class="feature__main">
						<p class="feature__text">
							Learning Schedule allows you to easily track, record and archive your learning progress so you always know where you're at, even if you've decided to take a break from your learning

							<a href="" title="">read more…</a> 						
						</p>

						<div class="feature__box feature__box1"></div>



<!-- Beginning of sample - feature two -->





<!---->

					<img class="feature_image_2" src="/static/images/image_2.png" />
	
					</div>
				</div>
			<div>
		</section>


		
		<!-- FEATURE THREE -->

		<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<h2 class="feature__title">
						That amazing portfolio you wished you had.
						<!--It is everything your portfolio wished it could be.-->
					</h2>

					<div class="feature__main">
						<p class="feature__text">
							Learning Schedule is a fancy, real-time portfolio. Not only does it look amazing, however it is also designed to help you describe your learning progress, in as much or as little detail as you want
							<a href="" title="">read more…</a></p>	
						<div class="feature__box feature__box2"></div>



<!-- Beginning of sample - feature three -->


                  <div class="row sm__individual__container" >
				  	

					<div class="sm__title__container">
						
							<div class="sm__title__top_layer">

									<img class="sm__title__profile_picture" src="/static/images/avatar.png" alt="Julius Reade Profile Avatar" />
									
									<div class="sm__title__top_layer__right">

											<a class="sm__title__username__link" href="https://learningschedule.com/juliusreade">
												<h4 class="sm__title__username">juliusreade</h4>
											</a>

											<h5 class="sm__title__start_date__container">
												March 17th
											</h5>

									</div>

										<div class="sm__title__top_layer__updates">
											<h4 class="sm__title__top_layer__updates__link">Updates (7)</h4>
											<h4 class="sm__title__top_layer__updates__link">Tags (9)</h4>
										</div>
									
									<div class="clear"></div>

							</div>


							<h3 class="sm__title__container">
								<a class="sm__title__a--link" type="button">When React/Redux Finally Makes Sense!</a>
							</h3>

							<p class="sm__title__schedule__summary">
								My fourth attempt at my application and by-far my longest. Still so much to learn!
							</p>

						<div class="clear"></div>
					</div> <!-- end of sm title-->


					<ul class="sm__tag__outer__container">
						<li class="sm__tag__text">#graphql</li>
						<li class="sm__tag__text">#relay</li>
						<li class="sm__tag__text">#elixir</li>
						<li class="sm__tag__text">#phoenixframework</li>
						<li class="sm__tag__text">#rubyonrails</li>
						<li class="sm__tag__text">#csharp</li>
						<li class="sm__tag__text">#redux</li>
						<li class="sm__tag__text">#react</li>
					</ul> <!-- end of sm tag -->


					<div class="sm__update__outer__container">
						<ul>
							<p class="sm__update__text">
								<span class="sm__update__text__yolo"> 
									Apr 01 - Holy Cow. My application officially works! The backend is perfectly connected with the front-end !!!!!! It’s like, the happiest day of my life. Still need to get user authentication to work though...
								</span>
							</p>
							<p class="sm__update__text">
								<span class="sm__update__text__yolo"> 
									Mar 30 - Really getting the hang of writing tests and learning about dev dependencies and making mocha, babel and webpack working together. Will be goooood :)
								</span>
							</p>
							<p class="sm__update__text">								
								<span class="sm__update__text__yolo"> 
									Mar 27 - I feel like I finally understand react/redux, even though I’ve done it so many times before. Oh, and it’s the first time I managed to successfully build a functioning backend! I can also do async, though I know it’s not well enough. I also learnt SO MUCH vanilla javascript and how to work with objects and arrays, as well as all the nitty gritty details of Javascript. I’m not sure what I want to do anymore, maybe C#? I couldn’t do anymore functional FRP for a while now.
								</span>
							</p>

						</ul>
					</div>


				 </div> <!-- The last container :) -->



<!---->



					<!--<img class="feature_image_3" src="/static/images/image_3.png" />-->

					</div>
				<div>
			</div>
		</section>


		<!-- FEATURE FOUR -->


		<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<h2 class="feature__title">
						Inspire the world with your learning achievements. <!-- Showcase your learning achievements -->
					</h2>

					<div class="feature__main">
						<p class="feature__text">
							Learning Schedule is a public place for you to share your daily learning, on our personal projects and general human development

							<a href="" title="">read more…</a> 
						<div class="feature__box feature__box3"></div>

						</p>	

<!-- Beginning of sample - feature four -->



<!---->

					</div>
				<div>
			</div>
		</section>

		<!-- FEATURE FOUR -->
		
		<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<h2 class="feature__title">
						Designed for your professional development.
					</h2>

					<div class="feature__main">
						<p class="feature__text">
							Learning Schedule is designed to impress potential employers. Learning is such a vital process in a professional development process, yet how do we let employers know we care? 

							<a href="" title="">read more…</a> 
						<div class="feature__box feature__box4"></div>

						</p>	
					</div>
				<div>
			</div>
		</section>	


		<!-- FEATURE FIVE -->

		<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<h2 class="feature__title">
						Guess what shows up when employers search your name? 
						<!--An online framework for self-learners. -->
					</h2>

					<p class="feature__text">
						Learning Schedule was created for passionate self-learners. However self-learning can be difficult, which is why Learning Schedule aims to create structure and achievement in your progress 

						<a href="" title="">read more…</a> 
						<div class="feature__box feature__box5"></div>

					</p>	
				<div>
			</div>
		</section>


		<!-- SAMPLE PROFILE -->
<!--
	
		<section class="sample__container">
					<h3 class="sample__title">Here's what you can achieve with Learning Schedule:</h3>
					<div class="container">
						<div class="row">
							<div class="sample">
								
							</div>
						</div>
					</div>

		</section>

-->



		 <!--CLOSING SIGNUP-->
<!--
		<section class="container-fluid plan__container">
			<div class="row">
				<h3 class="plan__header">
					We love learning (schedule) and we think you should too. 
				</h3>
				<div class="plan__header__two__container">
					<h4 class="plan__header__two">(Learning Schedule offers two very generous packages so you don't have to pay if you don't want to :D)</h4>
				</div>
			</div>

			<div class="row plan__container__plans">
					<div class="col-sm-6 plan__features">
						<h2 class="plan__title">Learning Schedule Standard</h2>
						
						<ul class="plan__ul">
							<li class="plan__li">
								Extensively track your learning progress. 
							</li>
							<li class="plan__li">
								Easily share your learning with like-minded individuals. 
							</li>
							<li class="plan__li">
								Everything most people will ever need from this app,
							</li>
						</ul>
					</div>

					<div class="col-sm-6 plan__features">
						<h2 class="plan__title plan__title__plus">Learning Schedule Plus</h2>
						<ul class="plan__ul">
							<li class="plan__li">
								Ability to further customise your learning timeline. 
							</li>
							<li class="plan__li">
								Ability to add pre-date information from the past. 
							</li>
							<li class="plan__li">
								Ability to make your profile private. 
							</li>
						</ul>
					</div>


			</div> 
		</section>-->



		<!-- CLOSING -->

		<section class="closing__container" >
			<h3 class="closing__quote">
				It takes approximately 10,000 hours to master a skill. 
			</h3>
			<div class="header__color__container">
				<div class="header__color header__color1"></div>
				<div class="header__color header__color2"></div>
				<div class="header__color header__color3"></div>
				<div class="header__color header__color4"></div>
				<div class="header__color header__color5"></div>
			</div>
			<h4 class="closing__quote_secondary">
				Be proud of what you've achieved. 
			</h4>

		</section>

		<!-- SIGNUP-->

		<section class="signup__container">
			<h3 class="signup__header">Learning Schedule</h3>
			<h5 class="signup__header__two">Let's take you to your account.</h5>
			<form class="signup__form" action="auth/register" method="post" accept-charset="utf-8">
				
				<div class="form-group">
					<!--<label for="email">Email:</label>-->
					<input class="form-control header__form-input" type="email" name="email" value="" placeholder="Email">
				</div>

				<div class="form-group">
					<!--<label for="password">Password:</label>-->
					<input class="form-control header__form-input" type="password" name="password" value="" placeholder="Password">
				</div>

				<div class="form-group">
					<button class="btn btn-default register__form_submit--bottom" type="submit" action="">Sign Up</button>
				</div>

			</form>
		</section>



		<!-- FOOTER -->



<!--
		<footer class="container-fluid footer" >
				<a class="navbar-brand">Learning Schedule</a>
		</footer>-->

		



	</main>

</body>
</html>

