<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Julius Reade">

	<link rel="stylesheet" type="text/css" href="./static/reset.css">
	<link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="./static/style.css">

	<title>Learning Schedule - Be Proud Of Your learning</title>
</head>

<body>

	<header class="navbar__container">
		<h2 class="navbar__logo">Learning Schedule</h2>

		<div class="navbar__buttons">
			<button class="navbar__signup" type="submit" action="">Sign Up</button>
			<button class="navbar__login" type="submit" action="">Login</button>
		</div>
	</header><!-- /header -->


	<div class="header__main">
		<h1 class="header__title">Learning Schedule</h1>
		<h2 class="header__title_secondary">We know it's awesome.</h2>
	</div>

	<main class="main__container">


		<!-- FEATURE ONE -->

		<section class="feature__container">
			<h2 class="feature__title">
				An online haven(tm) for your learning.
			</h2>
			<div class="feature__main">
				<p class="feature__text">
					Learning Schedule is a public place for you to share your daily learning. Provide progress updates on your projects and general human development. 


					<a href="" title="">read more…</a> 

				</p>
			</div>
		</section>


		<!-- FEATURE TWO -->

		<section class="feature__container">
			<h2 class="feature__title">
				THAAAT MUCH better than a portfolio.
			</h2>

			<div class="feature__main">
				<p class="feature__text">
					Learning Schedule is everything your online portfolio wished it could be. Not only does it link to your projects, however it helps you describe your progress just as you like. 


					<a href="" title="">read more…</a> 

				</p>	
			</div>

		</section>


		<!-- FEATURE THREE -->


		<section class="feature__container">
			<h2 class="feature__title">
				Track. And. Archive. Your. Learning. Habits. 
			</h2>

			<div class="feature__main">
				<p class="feature__text">
					Learning Schedule vastly simplifies the tracking process. Based on a proven system, Learning Schedule allows you to easily track your learning progress so you always know where your head's at… as well as where it's been.


					<a href="" title="">read more…</a> 

				</p>	
			</div>
		</section>

		<!-- FEATURE FOUR -->
		
		<section class="feature__container">
			<h2 class="feature__title">
				Share your learning with the world!
			</h2>

			<div class="feature__main">
				<p class="feature__text">
					Learning Schedule is so much more than a showcase. It’s a platform designed to get you excited, motivated and fuzzy about learning. 


					<a href="" title="">read more…</a> 

				</p>	
			</div>

		</section>	


		<!-- FEATURE FIVE -->

		<section class="feature__container">
			<h2 class="feature__title">
				Impress potential employers?		
			</h2>

			<p class="feature__text">
				Learning Schedule is so much more than a showcase. It’s a platform designed to get you excited about learning. 


				<a href="" title="">read more…</a> 

			</p>	

		</section>


		<!-- CLOSING -->

		<section class="closing__container" >
			<h3 class="closing__quote">
				It takes approximately 10,000 hours to master a skill. 
			</h3>

			<h4 class="closing__quote_secondary">
				Why not make it fun and memorable? // laughing emoji! 
			</h4>

		</section>

		<section class="closing__container">
			<h3 class="closing__quote__two">
				Oh, and I forgot to mention one small detail...
			</h3>

			<h4 class="closing__quote_secondary__two">
				Learning Schedule is free! 
			</h4>
		</section>


		<!-- CLOSING SIGNUP-->

		<section class="signup__container">
			<h3 class="signup__title">
				We love learning schedule and we think you should too. 
			</h3>

			<div class="signup__form__container">
					
				<div class="signup__features">
					
					<ul class="signup__ul">
						<li class="signup__li">
							
						</li>
						<li class="signup__li">
							
						</li>
						<li class="signup__li">
							
						</li>
						<li class="signup__li">
							
						</li>

					</ul>
					



				</div>

				<form class="signup__form" action="auth/register" method="post" accept-charset="utf-8">
					<input type="text" name="username" value="">

					<input type="text" name="password" value="">

					<button class="navbar__signup" type="submit" action="">Sign Up</button>

				</form>

			</div>



		</section>


		<!-- FOOTER -->

		<footer class="footer" >
			
		</footer>

		



	</main>

</body>
</html>




		<!-- HEADER INTRO -->
		<!--<section class="feature__container">
			<div class="container">
				<div class="row feature__hover">
					<h4 class="feature__pre_intro">
						Intro 
					</h4>

					<div class="feature__intro">
						Learning Schedule is an online application that allows you to easily track and showcase your learning to the world.
					</div>
					<p class="feature__text">
						- It's free.
					</p>
					<p class="feature__text">
						- There will be paid features.
					</p>
					<p class="feature__text">
						- This is an example of how I personally use it <a href="http://learningschedule.com/JuliusReade">http://learningschedule.com/JuliusReade</a> 
					</p>
				</div>
			<div>
		</section>-->

			<!--<p class="feature__text">
						- It's free.
					</p>
					<p class="feature__text">
						- There will be paid features.
					</p>
					<p class="feature__text">
						- This is an example of how I personally use it <a href="http://learningschedule.com/JuliusReade">http://learningschedule.com/JuliusReade</a> 
					</p>-->