<!DOCTYPE html>

<html lang="en">

	<head>

		<include('./homepage_partials/homepage_head.marko')/>
	
	</head>


	<body>

		<include('./homepage_partials/homepage_nav.marko')/>

		<include('./homepage_partials/homepage_header.marko')/>

			<main class="main__container container-fluid">

				<include('./f_main/f1_main.marko')/>

				<include('./f_main/f2_main.marko')/>

				<include('./f_main/f3_main.marko')/>

				<include('./f_main/f4_main.marko')/>
				
				<include('./homepage_partials/homepage_closing.marko')/>

			</main>



<footer class="homepage__footer">
	<p>Made by <a href="https://juliusreade.com/">Julius Reade</a> dedicated to self-learners around the world.</p>
</footer>



        <browser-refresh enabled="true" />
	<!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
	</body>

</html>

