.si__tag__container {
	display: flex;
	flex-direction: column;

	width: 800px;
	margin: 0 auto;

      margin-bottom: 4rem;
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 4rem;
}

.si__tag__outer {
	display: flex;
      flex-direction: row; 
      
      padding-left: 5rem;
      width: 700px;
}

.si__tag__inner {
      margin-top: 0.1rem;
}

.si__tag__group {
      float: left;
      border: 1px solid #242526;
      border-radius: 2px;
      width: 9.5rem;
      height: 1.4rem;
      margin: 2px;
}


.si__tag__title__field {
      
      font-size: 0.9rem;
      font-weight: 100;
      color: black;
      float: right;
      margin-top: 0.1rem;
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;
      z-index: -200;
      background: white;
      width: 8.1rem;
}

.si__tag__remove {
      font-size: 0.9rem;
      float: left;  
      background-color: white;
      z-index: -9999;
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;

}

.si__tag__add {
      margin-left: 0.2rem;
      position: relative;
      top: 0.2rem;
      float: left;     
      outline: none;

      border-bottom: 1px solid darkgrey;
      border-radius: 1px; 
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;
      width: 4.9rem;
      height: 1.45rem;
      background: #e8e8e8;

}

.si__tag__add:hover {
      background: darkgrey;

}

#si__tag__add__text {
      position: relative;
      top: 1px;
}

#si__tag__display__none {
      display: none;
}

#si__tag__border__none {
      border: 0;
      color: black;
}

#true {     
      border: 0;
}

#false {
      margin-bottom: 0;
}





@media screen and (max-width: 900px){
    .si__tag__container {
      padding-left: 0;
      width: 90%;
    }

      .si__tag__outer {
            padding-left: 3.5rem;
            font-size: 2.2rem;
            margin-top: 0;
            width: 95%;
      }
}


@media screen and (max-width: 700px){
    .si__tag__container {
		width: 90%;

    }

    .si__tag__outer {
        padding-left: 2rem;

    }
}


@media screen and (max-width: 600px){
    .si__tag__container {
    	padding-left: 1rem;

    }

	.si__tag__outer {
    	padding-left: 1rem;
		font-size: 1.8rem;
	}
}