.si__tag__container {
	width: 800px;
	margin: 0 auto;

      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 4rem;
}

.si__tag__outer {
	display: flex;
      flex-direction: row; 
      flex-wrap: wrap;

      margin-left: 5rem;
      margin-bottom: 1rem;
      width: 700px;
}

.si__tag__inner {
      border: 1px solid #242526;
      border-radius: 2px;
      /*width: 11.2rem;*/
      width: 9.5rem;
      /* it can't be any less than 11.2rem, otherwise it'll collapse. */
      height: 1.4rem;
      margin: 2px;
}



.si__tag__title__field {
      
      font-size: 0.9rem;
      font-weight: 100;
      color: black;
      float: right;
      margin-top: 0.1rem;
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;
      z-index: -200;
      background: white;
      width: 8.1rem;
}

.si__tag__remove {
      font-size: 0.9rem;
      float: left;  
      background-color: white;
      z-index: -9999;
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;

}

.si__tag__add__container {
      border-radius: 2px;
      border: 1px solid white;
      width: 11.2rem;
      height: 1.4rem;
      margin: 2px;
      display: flex;
      align-items: center;

}


.si__tag__add {
      /*margin-left: 0.2rem;
      position: relative;
      top: 0.2rem;*/
      outline: none;

      border-bottom: 1px solid darkgrey;
      border-radius: 1px; 
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;
      width: 9.5rem;
      height: 1.45rem;
      background: #e8e8e8;
      /*margin: 2px;*/
      /*margin-left: 0.05rem;*/
      /*margin-left: 0.2rem;*/

}

.si__tag__add:hover {
      background: darkgrey;

}

#si__tag__add__text {
      /*position: relative;
      top: 1px;*/
}

#si__tag__display__none {
      display: none;
}

.si__tag__border__none {
      border: 0;
      /*color: black;*/
}

#true {     
      border: 0;
}

#false {
      margin-bottom: 0;
}


.si__update__tag__none {
      display: none;
}




@media screen and (max-width: 900px){
      .si__tag__container {
            padding-left: 0;
            width: 100%;
      }

      .si__tag__outer {
            margin-left: 3.5rem;
      }

      /*.si__tag__add {
            width: 100%;
      }*/
      
}


@media screen and (max-width: 700px){
    .si__tag__container {
		width: 92%;

    }
      .si__tag__outer {
            margin-left: 2rem;
            font-size: 1.8rem;
            margin-top: 0;
            width: 95%;

      }

      .si__tag__inner {
            float: left; 
      }


}


@media screen and (max-width: 600px){
      .si__tag__container {
            padding-left: 0rem;
      }
      .si__tag__outer {
            margin-left: 0rem;
      }

      #si__tag__add__text {
            /*top: 0;*/
      }
}