<html>

  <head>

    <include('./other_partials/other_head.marko')/>

    <title>Learning Schedule | About</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>

    <main class="other__container">

      <h2 class="other__title">About Learning Schedule</h2>

      <div class="other__text__container">
          <p>
              Learning Schedule is a specialised online profile that has been designed for self-learners in mind.</p>

          <p>It has been designed to be aesthetic, fast and functional.</p>

<p>What is learning Schedule?</p>

<p>Learning Schedule is an online learning portfolio designed especially for self-learners and those passionate about learning.</p>

<p>It&rsquo;s a place for you to record the things you&rsquo;ve learnt, as well as keep reference of all the important learning resources, videos and articles you may have come across within your learning journey.</p>

<p>While Learning Schedule was designed with ease of use in mind, Learning Schedule&rsquo;s primary function is as an extensive portfolio for your learning.</p>

<p>With Learning Schedule we hope to showcase the thought process behind your learning, exhibit all the amazing projects you&rsquo;ve created that have assisted you with your learning, as well as disclose all the information that is now happily transacting with your brain.</p>

<p>It was designed especially for self-learners in mind, and is useful for students, employees and avid learners wanting to showcase their passion and enthusiasm for learning to others. Not to mention, the world. </p>

<p>Unlike a traditional portfolio that only concerns serious, completed projects, Learning Schedule is a medium for you to explore your ideas, your uncompleted works, and all those intricate details that matter most to mastering your craft.</p>

<p>The ultimate aim in all this effort is to facilitate in the observation and reflection process that is so crucial to learning, allowing us to improve upon our learning technique and ability to learn.</p>

<p>Learning Schedule makes achieving your learning goals simple and easy.</p>

<p> </p>

<p>How is Learning Schedule organised?</p>

<p>There are three basic units in Learning Schedule that allow us to easily organise our learning.</p>

<p>These are Schedules, Updates and Tags.</p>

<p>Schedules</p>

<p>The beautiful thing about Learning Schedule is that it allows you to organise your learning however you like, based on your individual learning style.</p>

<p>Schedules are nothing more than containers that ultimately group our Updates into relevant segments.</p>

<p>How you choose to model your Schedules is entirely up to you, and we can create as many different Schedules and Updates as we require.</p>

<p>We can model our Schedules based on the specific subjects we are learning, on specific projects we may be working on, and even based on course semesters or specific time periods in which we learn something specific.</p>

<p>Personally speaking, I tend to create new Schedules based on three week periods, as I usually like to learn something for three weeks at a time, before moving onto something different for another three weeks.</p>

<p>There&rsquo;s no right or wrong way.</p>

<p>Updates</p>

<p>Updates are like mini-notifications or posts that we make on our Schedules, to describe our learning and allow people to know about our learning process.</p>

<p>We make Updates within individual Schedules, and they are designed to take us through our learning journey, describing the highs and lows of our progress.</p>

<p>What makes Learning Schedule so powerful is that there are many different types of Updates we can create, depending on what we are trying to convey.</p>

<p>For example, there are Updates which are designed to signify learning milestones, Updates which allow us to post links to relevant learning material, Updates which merely</p>

<p> </p>

<p>Tags</p>

<p>Tags on the other hand are just that. They&rsquo;re simple tags we can use to signify important points, or simply mark our learning. </p>

<p>They&rsquo;re nothing special, but they help if you&rsquo;re into that kind of thing.</p>

<p> </p>

<p> </p>

<p> </p>

<p>The Power of using Schedules</p>

<p>In essence, a schedule is &ldquo;a list of planned activities or things to be done showing the times or dates when they are intended to happen or be done&rdquo;.</p>

<p>Through a schedule we can plan what we hope to achieve, as well as how we expect to achieve it.</p>

<p>Ultimately, Learning Schedule allows you to track what you&rsquo;ve learnt, as well as record when learnt it &ndash; so you are able to keep record of absolutely everything you have learnt.</p>

<p>Now while there are many different applications that provide this kind of tracking, none of them have been designed to be visibly showcased online. Learning Schedule on the other hand has been designed as a platform to be visible to others, as well as visible in Google Search results. How dandy!</p>

<p>The beautiful thing about Learning Schedule is that it recognises that everyone learns differently. We all have different learning styles, different ways of learning and different learning methods, which is Learning Schedule offers a wide range of ways to track our learning.</p>

<p>It allows you to make plain text updates, signify milestones in your learning, as well as</p>

<p> </p>

<p>Everyone has a different schedule, however my learning schedule tends to around in cycles. I&rsquo;ll become really interested in something for a few weeks, or even a few months, and then I&rsquo;ll move onto something else I&rsquo;m interested in. By encapsulated these</p>

      </div>


    </main>

    <!--<browser-refresh enabled="true" />-->
	  <!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
