<html>

  <head>

    <include('./other_partials/other_head.marko')/>

    <title>Learning Schedule | About</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>

    <main class="other__container">

      <h2 class="other__title">About Learning Schedule</h2>

      <div class="other__text__container">
          <p>
              Learning Schedule is a specialised online profile that has been designed for self-learners in mind.</p>

          <p>It has been designed to be aesthetic, fast and functional.</p>

      </div>


    </main>

    <browser-refresh enabled="true" />
	  <!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
