<html>

  <head>

    <include('./other_partials/other_head.marko')/>

    <title>Learning Schedule | Blog</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>

    <main class="other__container">

      <h2 class="other__title">coming soon.</h2>

    </main>

    <browser-refresh enabled="true" />
	  <!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
