<html>

  <head>

    <include('./other_partials/other_head.marko')/>

    <title>Learning Schedule | Contact</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>

    <main class="other__container">

      <h2 class="other__title">Contact</h2>

      <div class="other__text__container">
          <p>If you would like to contact me, there are a few places you may seek.</p>

          <a href="mailto:julius.reade@gmail.com">julius.reade@gmail.com</a>
          <a href="https://twitter.com/juliusreade">twitter.</a>

          <p>I also have a website that I'm sure would make you real proud.</p>
          <a href="https://juliusreade.com/">https://juliusreade.com/</a>

      </div>


    </main>

    <!--<browser-refresh enabled="true" />-->
	  <!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
