<html>

  <head>

    <include('./other_partials/other_head.marko')/>

    <title>Learning Schedule | Contact</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>

    <main class="other__container">

      <h2 class="other__title">Hey buddy!</h2>

      <p class="other__text">Unfortunately I am not contactable! In large part, because I'm trying to get this website together and I haven't quite dedicated time to creating this page yet. Please be patient, I will be with you shortly.</p>

    </main>

    <!--<browser-refresh enabled="true" />-->
	  <!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
