<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="other/css/reset.css">
    <link rel="stylesheet" href="other/css/yolo.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yolo</title>
</head>
<body>
    
<div class="container">

    <!--<div class="left__overlay-left"></div>
    <div class="left__overlay-right"></div>-->
<!--
describe the problem:

I want there to be two images, two versions of a section.
You can only see half of one, and half of the other. -->


    <!--<div class="left__underlay">
        <div class="left__overlay-right"></div>
        <div class="left__overlay-left"></div>
    </div>-->

    <div class="right__underlay">
        <div class="right__overlay-left"></div>
        
        <p class="right__underlay__text">Right Right Right</p>
        
        <div class="right__overlay-right"></div>

        <p class="left__underlay__text">Left Left Left</p>
    </div>

<!--
    <div class="left">

    </div>

    <div class="right">

    </div>
-->

<!--

    <div class="left__underlay">

        <div class="right__underlay">
            <p class="right__underlay__text">Right Right Right</p>
        </div>

        <p class="left__underlay__text">Left Left Left</p>
    </div>
-->



</div>


</body>
</html>