


.feature__one__container {
    background: white;
    position: relative;
    bottom: 26.1rem;
    left: 5.5rem;
    width: 810px;
    height: 475px;
    box-shadow: 4px 5px 5px #888888;
    padding-top: 2.5rem;
    margin-bottom: -15rem;

}


@media screen and (max-width: 900px){
    
    .feature__one__container {
        width: 700px;
        margin: 0 auto;
        box-shadow: 0; 
        left: 0;
    }
}

@media screen and (max-width: 600px){
    
    .feature__one__container {
        width: 450px;
    }
}



/* middle navbar */

.st__midbar__container {
    position: relative;
    right: 2.2rem;


    width: 40rem;
    margin: 0 auto;
    /*height: 16rem;*/
    /* these top two were existing */

    padding: 1rem;
    margin-bottom: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.st__midbar__top {
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 7rem;
    width: 400px;

    margin-bottom: 1.8rem;

}

.st__midbar__react__dropzone {
    width: 7rem;
    height: 7rem;
    
    display: block; 
    float: left;
}
.dropzone__overlay {
    width: 7rem;
    height: 7rem;
    
    display: block; 
    float: left;
    
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.55);
    position: absolute;
}

.dropzone__plus {
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    bottom: 4.4rem;
    left: 3.2rem;
}

.st__midbar__profile_picture {
    
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}


/* right of profile picture */

.st__midbar__top__right {
    width: 240px;
    height: 100px;
    margin-top: 0.7rem;
    margin-left: 1.8rem;
}

.st__midbar__top__top {
    margin: 0 auto;
    width: 30rem;
    height: 3.2rem;
}

.st__midbar__website {
    color: none;
    font-size: 1.3rem;
    margin-left: 1.3rem;
    position: relative;
    top: 0.3rem;
}

.st__midbar__website__link {
    color: cyan;
    margin-left: 1.5rem;
    position: relative;
    bottom: 1rem;

}


.st__midbar__profile_username {
    
    font-size: 2.8rem;
    width: 600px;
    margin: 0 auto;

    color: #242526;
	
	font-weight: 100;

}




.st__midbar__bottom {
    position: relative;
    left: 4.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.st__midbar__social_icons__container {
    height: 6rem;
}

.st__midbar__social_icons {
    width: 2rem;
    height: 2rem;
    
    margin-right: 0.8rem;
    float: left;
}

.st__midbar__summary { 
    width: 400px;

    margin-left: 1rem;
}

.st__midbar__summary_li {
    margin-bottom: 0.5rem;
    float: left;
}

.st__summary__outer__container {
  margin-left: 1.1rem;
  margin-bottom: 2rem;
}

.st__summary__text {
  position: relative;
  bottom: 0.3rem;
  right: 0.2rem;
  margin-bottom: 0.45rem;
  width: 100%; 
  font-size: 1rem; 

}



/* bottom bar topbar__container*/

.st__bottombar__container {
    margin: 0 auto;
    width: 600px;
    height: 4rem;
    border-top: 1px solid darkgrey;
    position: relative;
    left: 3.2rem;
}

.st__bottombar__links__container {
    padding-top: 2.6rem;
    text-align: center;
}

.st__bottombar__link {
    margin-left: 2.5rem;
    margin-right: 2.5rem;

}

.st__bottombar__link__active {
    padding-left: 1rem;
    padding-right: 0.5rem;

    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;

}

.st__bottombar__link--a {
    font-size: 1.3rem;
	color: #242526;
	
	font-weight: 100;

}
/*
.st__bottombar__link--a:hover {
    border-left: 2px solid #242526;
    padding: 1px;
    font-size: 1.3rem;
	color: #242526;
	
	font-weight: 100;s
}
*/

.header__color__container {
    position: relative;
    z-index: -100;
    width: 100%;
    margin: 0;
}

.header__color__container__feature__one {
    width: 100%;
    margin: 0;
}


.header__color {
	float: left;
	width: 20%;	
	height: 0.5rem;
}

.header__color1 {
	background-color: #FF6600;
}

.header__color2 {
	background-color: #07FAA0;

}

.header__color3 {
	background-color: #6699FF;
}

.header__color4 {
	background-color: #F7AE84;

}

.header__color5 {
	background-color: #F5EDE3;
	
}




@media screen and (max-width: 900px){
.header__color__container {
	width: 100%;
}
  .header__color{
    width: 20%;
  }
}


@media screen and (max-width: 900px){
    .st__bottombar__container {
        margin-top: -9.7rem;
        position: static;
        left: 1.2rem;
        width: 100%;
    }
    .st__bottombar__links__container {
        display: none;
        width: 0;
        height: 0;
    }
}



@media screen and (max-width: 900px){
    
    .st__midbar__container {
        width: 100%;
        padding: 0;
    }

    .st__midbar__top__top {
        margin-top: 1rem;
        margin-top: 1rem;
        width: 15rem;
    }
    
    .st__midbar__top {
        display: block;
        height: 15rem;
        margin: 0 auto;
    }

    .st__midbar__profile_picture {
        display: block;
        margin: 0 auto;
    }

    .st__midbar__top__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .st__midbar__website {
        width: 20rem;
    }

    .st__midbar__profile_username {
        width: 300px;
        font-size: 2rem;
    }
    
/*

        Bottombar 
                        */

    .st__midbar__bottom {
        flex-direction: column;
        position: static;
    }

    .st__midbar__social_icons__container {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        width: 12rem;
        height: 4rem;

    }

    .st__summary__outer__container {
        margin: 0 auto;
        margin-top: 2rem;
        width: 25rem;
        padding-left: 3rem;
    }

    .st__midbar__summary {
        height: 6rem;
        float: left; 
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .st__midbar__profile_username {
        font-size: 2.8rem;
    }

    .st__summary__text__ul {
        display: flex;
    }

    .st__summary__text__li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .st__summary__outer__container {
        padding-top: 0.5rem;
        padding-left: 0;

    }

}
