
.si__update__container {
      display: flex;
      flex-direction: column;
      max-width: 750px;
      padding-left: 5rem;
}


.update__outer__container {

}

.si__update__dash__disappear {
    display: none;
}

.si__update__top__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

.si__update__top_layer {
    display: flex;
    width: 100%;
    /*height: 4rem;*/
}

.si__update__top_layer__left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.si__update__top_layer__left__thing {
    /*display: block;*/
    /*display: flex;*/
    width: 100%;
}

.si__update__individual__container {

    width: 100%;
    margin-bottom: 2rem;
}

.si__update__add {
    float: left; 
    margin-left: 0.3rem;
    position: relative;
    top: 0.1rem;
    float: left;     
    outline: none;

    background: #f8f8f8;
    width: 7rem;
    height: 1.6rem;

    border-radius: 2px;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;

}

.si__update__add:hover {
    background: #cecece;

}


.si__update__inner {
    width: 100%;
    /*width: 43rem;*/
    padding-bottom: 1rem;
    border-top: 1px solid #dbdbdb;

}

.si__update__remove {
    /*position: relative;*/
    font-size: 1.2rem;
    background: white;
    border: 1px solid darkgrey; 
    border-radius: 1px;

    /*top: 3.55rem;*/
    /*left: 39.8rem;*/
    width: 2.12rem;
    height: 2rem;
}

.si__update__remove:hover {
    border: 1px solid black;
}


.si__update__remove__x {
    position: relative;
    bottom: 1px;
}

.si__update__title {
    float: left; 
    padding: 1rem;
    font-size: 2rem; 
}

.si__update__date {
    width: 6.8rem;
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    line-height: 1.8rem; 
    outline: none;
    color: #242526;
    
    font-weight: 100;
    height: 1.6rem;

}

.si__update__date__underline {
    text-decoration: underline;
}



.si__update__title__field {
    font-size: 2rem;
    line-height: 1.8rem; 
    background: white;
    color: #242526;
    
    font-weight: 100;
    width: 100%;
    border: none;
  	outline: none;
    overflow: hidden;
    resize: none;


    /*width: 25rem;*/
    width: 90%; 

    height: 5rem;
    /*height: 7.5rem;*/
    line-height: 2.5rem;

    /*margin-bottom: 1rem;*/
    margin-top: 0.5rem;
    position: relative;
    /*bottom: 0.05rem;*/
    /*top: 0.5px;*/

}

.si__update__generic__field__container {
    font-size: 1.05rem;
    line-height: 1.8rem; 
    outline: none;
    /*margin-top: 1.5rem;*/
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0rem;

    padding-left: 2px;

    color: #242526;
    
    font-weight: 100;
    /*width: 40.4rem;*/
    width: 90%; 
}

/*
.si__update__generic__field__container:hover {
    padding-left: 0px;
    border-left: 2px solid white;
    margin-top: 0;
}*/




/*

        SIUPDATE LINK
                            */



.si__update__select__container {
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding-top: 0.8rem;
}

.si__update__select__container__top {
    padding-top: 8px;
    width: 208px;
    border-top: 1px solid #dbdbdb;

}

.si__update__select {
    float: left;
    margin-left: 0.1rem;
    position: relative;
    top: 0.1rem;
    float: left;     
    outline: none;

    border-bottom: 1px solid darkgrey;

    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 4.5rem;
    height: 1.6rem;


}

.si__update__generic__field {
    font-size: 1.05rem;
    line-height: 1.8rem; 
    background: white;
    color: #242526;
    
    font-weight: 100;
    width: 100%;
    border: none;
  	outline: none;
    overflow: hidden;
    resize: none;

    padding: 0;
}

/*

    SINGLE

            */

.update__single__title__field {
    margin-top: 1.8rem;
    height: 2rem;
    font-size: 2rem;
}

.update__single__text__field {
    height: 8.5rem;
}

.update__single__link__field {
    height: 2rem;
}

.update__single__milestone__field {
    height: 2rem;
    font-weight: 700;
}

.update__single__link__summary__field {
    height: 5.4rem;

}

/*

    OTHER

            */

.si__update__text__field {
    height: 8.5rem;
}

.si__update__link__field {
    background-image:none;
    background-color:transparent;
    box-shadow: none;

    height: 1.8rem;
    font-weight: 600;
    /*margin-top: 1rem;*/
}

.si__update__link__summary__field {
    background-image:none;
    background-color:transparent;
    box-shadow: none;

    height: 4rem;
    font-weight: 100;
}

.si__update__milestone__field {
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    resize: none;
    height: 1.8rem;
    /*margin-top: 1rem;*/
    margin-bottom: 2.5rem;
}

.update__single__field__container {
    /*border-bottom: 1px solid #dbdbdb;*/
}

.update__text__field:hover {
    text-decoration: underline;
}

.update__text__field:focus {
    text-decoration: none;
}

.update__start__date {
    margin-left: 4rem; 
	margin-bottom: 2rem; 
}


.update__single__text__container {
    margin-top: 0.8rem;
    margin-left: 0;
    width: 40rem;
    height: 8rem;
}



.update_single_text_length {
    
}


/*

    SIUPDATE SINGLE LINK

                            */



.update__single__link__field__bottom {
    margin-top: 1rem;
}

/*

    SIUPDATE SINGLE MILESTONE

                            */


.update__single__milestone__container {
    height: 3rem;
    display: flex;
    align-items: center; 
    justify-content: center;
}



#si__update__display__none {
    display: none;
}

#si__update__display__none + .si__tag__title__field {
    float: left;
}


.si__update__tag__individual__container {
    display: flex;
    
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    right: 0.15rem;
    margin-left: 1rem;
}


.si__update__tag__inner {
      margin-left: 0.2rem;
      height: 0;
}

.si__update__tag__group {
      float: left;
      border: 1px solid black;
      border-radius: 2px;
      width: 9.5rem;
      height: 1.4rem;
      /*margin: 2px;*/
      margin-top: 0.1rem;

}

.si__update__relevant_tags {
    float: left; 

    font-size: 1.05rem;
    line-height: 1.8rem; 
    color: #242526;
    
    font-weight: 100;

    margin-right: 0.2rem;

}


.clear {
    clear: both;
}


#si__update__border__none {
    border: none;
}

.si__update__individual__empty {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 15rem;
    font-size: 1.8rem;
    line-height: 2.5rem; 
    color: #242526;
    
    font-weight: 100;
    width: 40rem;


}


@media screen and (max-width: 900px) {


	.si__update__top_layer {
		display: block;
        width: 100%;
        /*height: 5rem;*/
	}

    /*.si__update__top_layer__left {
        width: 95%;
    }*/

    .si__update__link__field {
        height: 3.5rem;
    }

    .si__update__text__field {
        height: 12rem;
    }

}



@media screen and (max-width: 700px){

    .si__update__tag__individual__container {
        display: none;
    }

    .si__update__inner {
        width: 100%;
    }

    .si__update__select__container {
        width: 100%;
    }

    .update__single__text__container {
        width: 100%;
    }

    .update__single__text__field {
        width: 100%;
    }


    .si__update__link__summary__field {
        height: 13rem;
    }

    .si__update__text__field {
        height: 15rem;
    }

    .si__update__dash__disappear {
        display: none;
    }

    .si__update__title__field {
        height: 2.5rem;
    }

}



@media screen and (max-width: 600px){

    .si__update__title__field {
        height: 5rem;
    }


	.si__update__top_layer {

	}

    .si__update__text__field {
        height: 20rem;
    }

}

@media screen and (max-width: 500px){

    .si__update__text__field {
        height: 24rem;
    }

	.si__update__top_layer {

	}



}





/* PAID FEATURES


.update__start__date__field {
   	font-size: 2rem;
	width: 40rem; 
}

*/