.profile__container {
    width: 100%; 
}

.profile__main {
    margin: 0 auto;
    margin-top: 8rem;
    
    width: 80%;
    font-size: 1.8rem;
    font-weight: 100;

}

.p__user__container {
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;

}


.p__user__details__container {
    width: 45%;
    height: 20rem;
}

.p__user__field__title {
    width: 14rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.p__user__field__title__small {
    font-size: 0.7rem;
}


.p__user__field__username {
    margin-top: 0.4rem;
    font-size: 1.1rem;
    width: 18rem;
}


.p__user__field__text {
    margin-top: 2.8rem;
    font-size: 1.1rem;
}

.p__user__field__text__link {
    text-decoration: underline;
    color: darkblue;
}


.p__user__remove-password__container {
    float: left; 
    width: 10rem;
}


.p__user__details__fields__container {
    margin-left: 3rem;
}



.p__user__social__container {
    width: 45%;
    height: 20rem;
}

.p__user__field__social {
    font-size: 1.1rem;
    width: 18rem;

    margin-top: 0.4rem;
}




/*

        POP UP CHANGE PASSWORD 

                                    */

.popup__password__title {
    float: left;
    margin-left: 2rem;
    width: 20rem;
    height: 3rem;
}

#popup__container__password {
    height: 8rem;
}

.popup__input__password__container {
    margin-left: 2rem;
    /*margin-top: 1rem;*/
	border: 1px solid darkgrey;
    float: left; 
}

.popup__input__password {
	font-size: 1.1rem;
	width: 16rem;
	outline: none;
	border-bottom: 1px solid white;
    border: 0;
	
	font-weight: 300;
    float: left;
    padding-bottom: -3px; 
}
 






/*

        POP UP CHANGE PASSWORD 

                                    */

.overlayRemove-true {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.overlayRemove-false {
  visibility: hidden;
  opacity: 0;
}

.popup__container__remove {
    height: 3rem;
    width: 6rem;
}

.popup__password__submit__container {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 5rem;
    height: 1.45rem;
    border: 1px solid darkgrey; 
    border-radius: 1px;
    float: left;
}

.popup__password__submit__container:hover {
    border: 1px solid black; 
}

.popup__remove__submit__container {
    margin-bottom: 0.5rem;
    width: 5rem;
    height: 2.2rem;
    border: 1px solid darkgrey; 
    border-radius: 1px;
    float: left;

}



.popup__password__submit {
    margin-left: 1.05rem;
    
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 100;
    color: black;
	position: relative;
	top: 0.3rem;
    float: left; 
	font-size: 1rem;
}



@media screen and (max-width: 900px) {

    .p__user__field__username {
        width: 14rem;
    }

    .p__user__field__social {
        width: 14rem;
    }


}

@media screen and (max-width: 700px) {
    .p__user__container {
        flex-direction: column;
        width: 100%;
    }

    .p__user__details__container {
        height: 25rem;
    }

    .p__user__details__fields__container {
        margin-left: 2rem;
    }


}