<div class="container-fluid navbar__container">
    <include('./navbar_toggle.marko')/>
    <!--<ul class="nav navbar-nav navbar-right">
        <li class="navbar-links navbar-links-right"><a href="/login" title="News">Login</a></li>
    </ul>-->
</div>