<nav class="container-fluid navbar__container">
    <ul class="st__navbar__ul">
        <li class="st__navbar__li"><a href="/about">About</a></li>
        <li class="st__navbar__li"><a href="/contact">Contact</a></li>
        <li class="st__navbar__li"><a href="/login">Login</a></li>
        <li class="st__navbar__li"><a href="/signup">Sign up</a></li>
    </ul>
</nav>


