
.sm__individual__container {
        margin-bottom: 3.5rem;
        width: 700px;
        margin: 0 auto;
}

.sm__latest_schedules {
        margin: 0 auto;
    	margin-top: 6rem;
        width: 70%;

        color: #242526;
        font-size: 1.1rem;
        font-weight: 100;
}

.sm__see_more__link {
        margin: 0 auto;
        margin-bottom: 4rem;
        display: block;
        width: 100%;
        font-size: 1.1rem;
        color: cyan;
        padding-left: 3rem;

}       





/*
        SM HOMELINK
                        */

.sm__homelink {
    margin-top: 3.5rem; 
    margin-bottom: 4rem;
}

.sm__homelink__empty {
    border: 5px solid black; 
    width: 40rem;
    margin: 0 auto; 
    margin-top: 8rem;
    margin-bottom: 10rem;
    padding-bottom: 1.8rem;

}

.sm__homelink__individual__empty {
    font-size: 1.8rem;
    line-height: 2.5rem; 
    color: #242526;
    
    font-weight: 100;
    width: 38rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    text-align: center;

}




/*
        SM UPDATELINK
                        */

.sm__updatelink {
    margin-top: 3.5rem; 
    margin-bottom: 4rem;
}

.sm__updatelink__empty {
    border: 5px solid black; 
    width: 40rem;
    margin: 0 auto; 
    margin-top: 8rem;
    margin-bottom: 10rem;
    padding-bottom: 1.8rem;
}


.sm__updatelink__individual__empty {
    font-size: 1.8rem;
    line-height: 2.5rem; 
    color: #242526;
    
    font-weight: 100;
    width: 40rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    text-align: center;

}




.sm__latest_updates {
    margin: 0 auto;
    margin-top: 6rem;
    width: 70%;

    color: #242526;
    font-size: 1.1rem;
    font-weight: 100;
}

.sm__updatelink__outer__container {
    margin-top: 4rem;
}

.sm__updatelink__inner__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto; 
}

.sm__taglink__outer__container {
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    margin-top: 4rem;

}

.sm__taglink__inner__container {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
    width: 9rem; 
}


.sm__updatelink__schedule__name {
    text-decoration: underline;
    
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 8rem;
    margin-bottom: 2rem;
}


.sm__updatelink__update {
    width: 800px;
    line-height: 1.6rem; 
    float: left;
    outline: none;
    margin-bottom: 3.5rem;
    margin-left: 4rem;

    position: relative;
    padding-left: 4rem;

    
    font-weight: 100;
    font-size: 1.05rem;
}

.sm__updatelink__update:hover {
    border-left: 2px solid darkgrey;
    padding-left: 62px;
}



/*
        SM TAGLINK
                        */

.sm__taglink {
    margin-top: 3.5rem; 
    margin-bottom: 4rem;
}



.sm__taglink__empty {
    border: 5px solid black; 
    font-size: 1.8rem;
    line-height: 2.5rem; 
    color: #242526;
    
    font-weight: 100;
    width: 40rem;
    margin: 0 auto;
    margin-top: 7.5rem;
    margin-bottom: 10rem;

    text-align: center;
    padding-bottom: 1.8rem;
}


.sm__taglink__tag__single {

}


@media screen and (min-width: 1600px){

    .sm__latest_schedules {
        width: 55%;
    }

}


@media screen and (min-width: 1200px){

    .sm__latest_schedules {
        width: 60%;
    }

}

@media screen and (max-width: 900px){

    .sm__updatelink {
        margin-top: 14rem;
    }

    .sm__individual__container {
        width: 85%;
    }

    .sm__latest_schedules {
        margin-top: 5rem;
        padding-left: 5rem;
        width: 85%;
    }

    .sm__see_more__link {
        padding: 3.5rem;
        width: 85%;
    }

    .sm__taglink__outer__container {
        width: 80%;
    }

    .sm__taglink {
        margin-top: 14rem;
        width: 80%;
    }
}

@media screen and (max-width: 700px){
    .sm__see_more__link {
        padding: 2rem;
    
    }
    .sm__latest_schedules {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 600px){
    .sm__see_more__link {
        padding: 1rem;
    }
}