.sm__update__outer__container {
      margin-left: 5rem;
      width: 42rem;
      float: left;
}

.sm__update__text {
    width: 43rem;
    font-size: 1.05rem;
    line-height: 1.8rem; 
    float: left;
    outline: none;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    
    position: relative;
    padding-left: 62px;

    color: #242526;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;

}

.sm__update__text__yolo {
    border-bottom: 1px solid #e0e0e0;

}

.sm__update__link__yolo {
    border-bottom: 1px solid #e0e0e0;
}

.no__underline {
    /*border-bottom: 1px solid white;*/
    /*color: #e0e0e0;*/
    font-weight: 100;
}

.sm__update__link__yolo a {
    color: black;;
    border-bottom: 1px solid #424242;
    text-decoration: none;
    /*color: #42dcf4;*/
    /*border-bottom: 1px solid #e0e0e0;*/
}

.sm__update__rainbow {
/*
    color: linear-gradient(to right, #FF6600 , #07FAA0, #6699FF, #F7AE84, #F5EDE3); 
    

    color: transparent;
    background-clip: text;
*/
}

.sm__update__milestone__yolo {
    font-weight: 500;
    /*border-bottom: 1px solid #e0e0e0;*/
}
 


.sm__update__text:hover .sm__update__text__yolo {
    border-bottom: 1px solid #c9c9c9;
}

.sm__update__text:hover {
    padding-left: 60px;
    border-left: 2px solid darkgrey;

}

