





/* 	profile picture - username 	*/

.sm__title__top_layer {
	width: 770px;
	height: 4rem;
	padding-left: 5rem;	

	/*display: flex;
	justify-content: */
	/*float: left; */
	margin-bottom: 1.8rem;
}

.sm__title__top_layer__left {
	float: left;
}

.sm__title__top_layer__right {
	float: left;
	min-width: 600px;
	/*max-width: 700px;*/
	/*max-width: 600px;*/
	/*max-width: 600px;*/
}


.sm__title__profile_picture {
	border-radius: 50%;
  	float: left;
	width: 3.5rem;
	height: 3.45rem;
}

.sm__title__top_layer__username__details {
	margin-top: 0.2rem;
	margin-left: 0.5rem;
	float: left; 
}


.sm__title__top_layer__updates__container {
	position: relative;
	left: 1.4rem;
	float: right;
	width: 180px;
}

.sm__title__top_layer__updates__link {
	position: relative;
	top: 0.1rem;
	right: 4rem;

	margin-right: 1rem;
	display: inline-block;
	color: #242526;
	
	font-weight: 100;
	font-size: 0.9rem;

}

.sm__title__top_layer__tags__link {
	position: relative;
	top: 0.1rem;
	right: 4rem;

	margin-right: 1rem;
	display: inline-block;
	color: #242526;
	
	font-weight: 100;
	font-size: 0.9rem;

}


.sm__title__username {
  	float: left;
	margin-top: 0.35rem;
	margin-left: 1rem;
	font-size: 1rem;
	color: #242526;
	
	font-weight: 100;
}

.sm__title__username__link {
	color: #242526;
}




/* 	start date 	*/

.sm__title__start_date__container {
	margin-top: 2rem;
	margin-left: 1rem; 
	font-size: 0.8rem;
	color: #5e6266;
	
	font-weight: 100;

}


/* 	title 	*/

.sm__title__container {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	/*margin-left: 5rem; */
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 2rem; 

	padding-left: 5rem;	
	width: 100%;

}

.sm__title {
	font-size: 2rem;
	/*margin-left: 5rem; */
	margin-top: 2rem;
	margin-bottom: 2rem; 

	padding-left: 5rem;	
	width: 700px;
}


.sm__title__a--link {
	color: #242526;
	
	font-weight: 100;
	text-decoration: none;
	line-height: 2.8rem;
}

.sm__title__a--link:hover {
	text-decoration: none;
	color: black;
}

.title__schedule_title__field {
	font-size: 2rem;

	width: 40rem;
	outline: none;
	border: 0;
}

.sm__title__schedule__summary {
	font-size: 1.1rem;
	margin-bottom: 1.5rem; 
	max-width: 800px;
	line-height: 1.6rem;
    padding-left: 5rem;	

	color: #242526;
	
	font-weight: 100;

}




.clear {
	clear: both;
}



@media screen and (max-width: 900px){
    .sm__title__container {
    	padding-left: 0;
		width: 90%;
    }

	.sm__title {
    	padding-left: 3.5rem;
		font-size: 2.2rem;
		margin-top: 0;
		width: 95%;
	}

	.sm__title__schedule__summary {
    	padding-left: 3.5rem;	
		width: 95%;
	}

	.sm__title__top_layer {
		width: 100%;
    	padding-left: 3.5rem;	
	}

}

@media screen and (max-width: 700px){
    .sm__title__container {
		width: 90%;

    }

    .sm__title {
        padding-left: 2rem;

    }

    .sm__title__schedule__summary {
        padding-left: 2rem;

    }

	.sm__title__top_layer {
        padding-left: 2rem;
	}

}


@media screen and (max-width: 600px){
    .sm__title__container {
    	padding-left: 1rem;

    }

	.sm__title {
    	padding-left: 1rem;
		font-size: 1.8rem;
	}

	.sm__title__schedule__summary {
    	padding-left: 1rem;	
	}

	.sm__title__top_layer {
    	padding-left: 1rem;	
		position: relative;
		right: 0.5rem;
	}

	.sm__title__top_layer__tags__link {
		display: none;
	}

	.sm__title__top_layer__updates__link {
		display: none;
		position: relative;
		right: 0.5rem;
	}


}
