.sm__tag__outer__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    list-style-type: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-left: 5rem;

}

.sm__tag__text {
    margin-top: 1rem;
    width: 10.2rem;
    height: 1.4rem;
    
    font-size: 0.9rem;
    font-weight: 100;
    text-decoration: underline #c9c9c9;
 }



@media screen and (max-width: 900px){
    .sm__tag__outer__container {
        padding-left: 3.5rem;
    }

    .sm__tag__text {
        /*padding: 1rem;*/
        width: 9rem;
        font-size: 0.9rem;
    }


}

@media screen and (max-width: 700px){
    .sm__tag__outer__container {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
    }

}


@media screen and (max-width: 600px){
    .sm__tag__outer__container {
    	padding-left: 0rem;
    }

}
