.sm__update__outer__container {
      display: flex;
      flex-direction: column;
	  margin: 0 auto;
      width: 100%;
      padding-left: 5rem;
}


.sm__update__text__container {
    display: flex; 
    flex-direction: column;
    width: 90%;
    font-size: 1.05rem;
    line-height: 1.8rem; 
    outline: none;
    margin-bottom: 1.5rem;
    
    /*position: relative;
    padding-left: 62px;*/

    color: #242526;
    
    font-weight: 100;

}

.sm__update__text {
    /*border-bottom: 1px solid #e0e0e0;*/

}

.sm__update__link {
    /*border-bottom: 1px solid #e0e0e0;*/
}

.sm__update__link__a {
    word-wrap: break-word;
    word-break: break-all;
}

.no__underline {
    /*border-bottom: 1px solid white;*/
    /*color: #e0e0e0;*/
    font-weight: 100;
}

.sm__update__link a {
    color: black;;
    border-bottom: 1px solid #424242;
    text-decoration: none;
    /*color: #42dcf4;*/
    /*border-bottom: 1px solid #e0e0e0;*/
}

.sm__update__rainbow {
/*
    color: linear-gradient(to right, #FF6600 , #07FAA0, #6699FF, #F7AE84, #F5EDE3); 
    

    color: transparent;
    background-clip: text;
*/
}

.sm__update__milestone {
    font-weight: 500;
    /*border-bottom: 1px solid #e0e0e0;*/
}
 


.sm__update__text__container:hover .sm__update__text {
    /*border-bottom: 1px solid #c9c9c9;*/
}

.sm__update__text__container:hover {
    /*padding-left: 60px;*/
    /*border-left: 2px solid darkgrey;*/

}




@media screen and (max-width: 900px){
    .sm__update__outer__container {
        padding-left: 3.5rem;
		width: 100%;
    }

	.sm__update__text__container {
        width: 100%;
	}       

}



@media screen and (max-width: 700px){
    .sm__update__outer__container {
        padding-left: 2rem;
    }

}


@media screen and (max-width: 600px){
    .sm__update__outer__container {
    	padding-left: 0rem;
        /*margin-left: 0;*/
    }

}

