





/* 	profile picture - username 	*/

.sm__title__top_layer {
	width: 800px;
	height: 4rem;
	/*padding-left: 5rem;	*/

	/*display: flex;
	justify-content: */
	/*float: left; */
	margin-bottom: 1.8rem;
}

.sm__title__top_layer__left {
	float: left;
}

.sm__title__top_layer__right {
	float: left;
	min-width: 600px;
	/*max-width: 700px;*/
	/*max-width: 600px;*/
	/*max-width: 600px;*/
}


.sm__title__profile_picture {
	border-radius: 50%;
  	float: left;
	width: 3.5rem;
	height: 3.45rem;
}

.sm__title__top_layer__username__details {
	margin-top: 0.2rem;
	margin-left: 0.5rem;
	float: left; 
}


.sm__title__top_layer__updates__container {
	position: relative;
	left: 1.4rem;
	float: right;
	width: 180px;
}

.sm__title__top_layer__updates__link {
	position: relative;
	top: 0.1rem;
	right: 4rem;

	margin-right: 1rem;
	display: inline-block;
	color: #242526;
	
	font-weight: 100;
	font-size: 0.9rem;

}

.sm__title__top_layer__tags__link {
	position: relative;
	top: 0.1rem;
	right: 4rem;

	margin-right: 1rem;
	display: inline-block;
	color: #242526;
	
	font-weight: 100;
	font-size: 0.9rem;

}


.sm__title__username {
  	float: left;
	margin-top: 0.35rem;
	margin-left: 1rem;
	font-size: 1rem;
	color: #242526;
	
	font-weight: 100;
}

.sm__title__username__link {
	color: #242526;
}




/* 	start date 	*/

.sm__title__start_date__container {
	margin-top: 2rem;
	margin-left: 1rem; 
	font-size: 0.8rem;
	color: #5e6266;
	
	font-weight: 100;

}


/* 	title 	*/

.sm__title__container {
	display: flex;
	flex-direction: column;
	
	width: 800px;
	margin: 0 auto;

	margin-top: 2rem;
	margin-bottom: 2rem; 

	font-size: 2rem;

}

.sm__title {
	/*margin-left: 5rem; */
	margin-top: 2rem;
	margin-bottom: 2rem; 

	padding-left: 5rem;	
	width: 700px;
}


.sm__title__schedule__title {
	font-size: 2rem;	
	font-weight: 300;
	color: #242526;
	
	border: 0;
	text-decoration: none;
	outline: none;
	border: none;
	resize: none;
	overflow:hidden; 
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/

	line-height: 2.8rem;
	width: 100%;
	display: block;
	height: 3rem;
}

.si__title__length {
	font-size: 1rem;
	width: 2rem;
	height: 2rem;
}

.sm__title__schedule__title:focus ~ .si__title__length {
	display: block;
}

.sm__schedule {
	/*margin-left: 5rem; */
	margin-bottom: 1.5rem; 
    padding-left: 5rem;	
	width: 700px;
}

.sm__schedule__no__margin {
	padding: 0;
}


.sm__title__schedule__summary {
	font-size: 1.1rem;
	line-height: 1.6rem;
	color: #242526;
	font-weight: 100;
	background: white;
	border: none;
	resize: none;
	width: 100%;
}

.si__summary__length {
	display: none;
}

.sm__title__schedule__summary:focus ~ .si__summary__length {
	display: block;
}


.clear {
	clear: both;
}



@media screen and (max-width: 900px){
    .sm__title__container {
    	padding-left: 1rem;
		margin-left: 1rem;
		width: 90%;
    }

	.sm__title {
    	padding-left: 3.5rem;
		font-size: 2.2rem;
		margin-top: 0;
		width: 95%;
	}

	.sm__schedule {
    	padding-left: 3.5rem;	
		width: 95%;
	}

	.sm__schedule__no__margin {
		padding: 0;
	}


	.sm__title__top_layer {
		width: 100%;
    	padding-left: 3.5rem;	
	}

	/*.sm__title__top_layer__padding {
		padding-left: 0rem;
	}*/

}




@media screen and (max-width: 700px){
    .sm__title__container {

    }

	.sm__title__schedule__title {
		font-size: 1.8rem;
	}

    .sm__title {
        padding-left: 2rem;
		width: 100%;

    }

    .sm__schedule {
        padding-left: 2rem;
		width: 100%;
    }

	.sm__schedule__no__margin {
		padding: 0;
	}

	.sm__title__top_layer {
        padding-left: 2rem;
	}

	/* used to counter-act the above */
	/*.sm__title__top_layer__padding {
		padding-left: 0rem;
	}*/


}


@media screen and (max-width: 600px){
    .sm__title__container {
    	padding-left: 0rem;
    }

	.sm__title__schedule__title {
		/*font-size: 1.6rem;*/
	}

	.sm__title {
    	padding-left: 0rem;
		font-size: 1.8rem;
	}

	.sm__schedule {
    	padding-left: 0rem;	
	}

	.sm__schedule__no__margin {
		padding: 0;
	}

	.sm__title__top_layer {
    	padding-left: 0rem;	
		position: relative;
		right: 0.5rem;
	}

	.sm__title__top_layer__tags__link {
		display: none;
	}

	.sm__title__top_layer__updates__link {
		display: none;
		position: relative;
		right: 0.5rem;
	}


}
