<html>

  <head>

    <include('./auth_partials/auth_head.marko')/>

    <title>Learning Schedule | Login</title>

  </head>

  <body>

    <include('../utility/auth_navbar.marko')/>


<section class="signup__container">
    
    <h3 class="signup__header">Learning Schedule</h3>
    <h5 class="signup__header__two">Welcome back.</h5>

    <h3 class="signup__header__three ${data.show}">${data.message}</h3>

    <form class="signup__form" action="/login" method="post" accept-charset="utf-8">

      <include('./auth_partials/auth_form.marko')/>

      <div class="form-group">
          <button class="btn btn-default register__form_submit--bottom" type="submit" action="">Login</button>
      </div>


    </form>

</section>


      <!--<browser-refresh enabled="true" />-->
	<!--<script src="{process.env.BROWSER_REFRESH_URL}"></script>-->
  </body>

</html>
