









/* top navbar */

.st__navbar__container {
    position: fixed;
    top: 0;
    width: 100vw;

    height: 4rem;
    border: 1px solid darkgrey;
    background-color: white; 
    z-index: 9000;
}

.st__navbar__brand {
    font-family: 'Poiret One', sans-serif;
    margin-top: 1.05rem; 
    font-size: 2rem; 
    float: left;
    margin-left: 2rem;
    text-decoration: none;
    color: black;
}


.st__navbar__brand:visited {
    color: black;
}

.st__navbar__profile__container {
  float: right; 
  margin-left: 0.3rem;
  position: relative;
  bottom: 0.3rem;
  width: 120px;
}

.st__navbar__profile {
    width: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
    margin-right: 3.8rem;
    border-radius: 50%;
    float: right;
}

.st__navbar__profile__ul {
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    width: 8rem;
    height: 9.65rem;
    list-style-type: none;
}

.st__navbar__profile__li {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    text-align: left;
    font-size: 1.1rem;
    
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    /*border-bottom: 1px solid darkgrey;*/
    padding: 3px;
    height: 1.2rem;
}

.st__navbar__profile__li__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*border-bottom: 1px solid darkgrey;*/
    padding: 3px;
    height: 1.2rem;

}


#true-update_profile {
    display: inline;
    position: absolute;
    top: 4.4rem;
    right: 1.4rem;
    /*opacity: 1;
    transition: "opacity 1s ease";*/
}

#false-update_profile {
    display: none;
    /*opacity: 0;*/
}

.st__navbar__form__container {
    margin-top: 1.4rem; 
    margin-left: 1rem;
    width: 350px; 
    height: 3rem;
    float: left; 
}


@media screen and (max-width: 900px){
    .st__navbar__form__container {
    display: none;
    }
    .navbar-form {
        display: none;
    }
}

@media screen and (max-width: 600px){
  .st__navbar__add__container {
    display: none;
  }
}



.st__navbar__signup__container {
    margin-top: 1.5rem; 
    margin-left: 1rem;
    height: 4rem;
    width: 350px; 
    float: right; 
}

.st__navbar__signup {
    margin-top: 1.4rem;
    float: right;
    margin-right: 2rem;
    width: 70px;
    height: 25px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    background: white;

}

.st__navbar__signup__link {
    position: relative;
    bottom: 0.05;
    text-decoration: none;
    color: purple;

}

.st__navbar__signup:hover {
    border: 1px solid black;
}


.st__navbar__add__container {
    margin-top: 1rem;
    margin-right: 2.5rem;
    width: 8.5rem;
    height: 2rem;
    border: 1px solid darkgrey; 
    border-radius: 1px;
    float: right;
}

.st__navbar__add__container:hover {
    border: 1px solid black; 
}

.st__navbar__add {
    margin-left: 1rem;
    
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 100;
    color: black;
	position: relative;
	top: 0.55rem;

	font-size: 1rem;
    cursor: pointer;
    /*transition: all 0.3s ease-out;*/

}

.st__saving__indicator__container {
    margin-top: 1rem;
    margin-right: 2.5rem;
    width: 1.5rem;
    height: 2rem;
    float: right;
}



.st__saving__indicator {
    width: 20px;
    height: 20px;
    background: green;
}



.st__navbar__add__plus {
    position: relative;
	font-size: 1.3rem;
    font-weight: 100;
}


/* hides the element from view */
.schedule {
    display: none; 
}




.st__navbar__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}



/*

         POPUP THINGS
                        */






.overlay-true {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.overlay-false {
  visibility: hidden;
  opacity: 0;
}

.popup__top {
    float: left; 
    width: 100%;
}


.popup__container {
  margin: 0 auto;
  margin-top: 6rem;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35rem;
  height: 3.9rem;
  position: relative;
  transition: all 2s ease-in-out;
}


.popup__close {
    position: relative;
    bottom: 0.6rem;
    left: 0.6rem;
    float: right; 
    color: darkgrey;
    margin-right: 0.3rem;
    margin-bottom: -0.4rem;
}

.popup__close:hover {
    color: black; 
}

.popup__title {
    
    margin-bottom: 0.1rem; 
    float: left; 
    margin-left: 2rem;
}

.popup__input__title__container {
    margin-left: 2.2rem;
    margin-top: 0.2rem;
	border: 1px solid darkgrey;
    float: left; 
}


.popup__input__title {
	font-size: 1.8rem;
	width: 25rem;
	/*outline: none;*/
	border-bottom: 1px solid white;
    border: 0;
	
	font-weight: 300;
    float: left;
    padding-bottom: -3px; 
}


.popup__textarea__summary__container {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
	/*border: 1px solid darkgrey;*/
    float: left; 
}

.popup__textarea__summary {
	font-size: 1.4rem;
	width: 25rem;
    height: 10rem;
	outline: none;
	border-bottom: 1px solid white;
    border: 0;
	
	font-weight: 300;
    float: left;
    padding-bottom: -3px; 
    
    
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;


}


.popup__submit__container {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    width: 5rem;
    height: 2.2rem;
    border: 1px solid darkgrey; 
    border-radius: 1px;
    float: left;
}

.popup__submit__container:hover {
    border: 1px solid black; 
}

.popup__submit {
    margin-left: 0.9rem;
    
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 100;
    color: black;
	position: relative;
	top: 0.6rem;
    float: left; 
	font-size: 1rem;
}

.popup__submit__plus {
    position: relative;
    bottom: 0.1rem;
}



@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}




/*

    Indicator Styling

*/

.green {
    background: green;
}

.orange {
    background: orange;
}

.red {
    background: red;
}