.st__login__container {
    margin-top: 0.1rem;
    width: 350px;
}

.st__login__email {
    /*margin-right: 0.1rem;*/
    width: 130px;
    height: 18px;
    border: 1px solid darkgrey;
    border-radius: 2px;

}

.st__login__password {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 130px;
    height: 18px;
    border: 1px solid darkgrey;
    border-radius: 2px;

}

.st__logout__submit {
    margin-top: 0.3rem;
    width: 5rem;
    height: 2rem;
    border: 1px solid darkgrey;
    font-size: 0.9rem;
    outline: none;
    background: white;
    /*position: relative;
    top: 0.1rem;*/

}

.st__logout__submit:hover {
    border: 1px solid black;
}


.st__login__submit {
    width: 70px;
    height: 22px;
    border: 1px solid darkgrey;
    border-radius: 2px;

    outline: none;
    background: white;
    cursor: pointer;
    /*position: relative;
    top: 0.1rem;*/

}

.st__login__submit:hover {
    border: 1px solid black;
}