<div class="header__form-input__container">
    <!--<label for="email">Email:</label>-->
    <input class="header__form-input" type="email" name="email" value="" placeholder="Email">
</div> <!-- form-control -->

<div class="header__form-input__container__bottom">
    <!--<label for="password">Password:</label>-->
    <input class="header__form-input header__form-input__bottom" type="password" name="password" value="" placeholder="Password">
</div>
